.FaqWrapperHeadline {
    margin-bottom: 20px;

    .icon {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 60px;
        height: 60px;

        svg {
            max-width: 28px;
            max-height: 28px;

        }
    }

    .title {
        margin-top: 20px;
        font-weight: 600;
        font-size: 26px;
        line-height: 1.23;
    }
}

@media (max-width: 840px) {
    .FaqWrapperHeadline {
        .title {
            font-size: 24px;
            line-height: 1.25;
        }
    }
}

@media (max-width: 668px) {
    .FaqWrapperHeadline {
        .icon {
            flex-shrink: 0;
            width: 40px;
            height: 40px;

            svg {
                max-width: 24px;
                max-height: 24px;
            }
        }

        .title {
            font-size: 16px;
            line-height: 1.37;
        }
    }
}