.headerWr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.header {
    margin-top: 0;
    margin-right: 12px;
}

.trackHeader {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 6px;
}

.track {
    background: #FEF2E7;
}

.trackWarning {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: rgba(245, 121, 11, 0.8);
}

.card {
    padding: 0;
}

.track, .cardBody {
    padding: 30px;
}

.mainInfo {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 40px;
}

.users {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #CED1D9;
}

.name {
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1;
}

.description {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 75%;
    }
}

@media (max-width: 768px) {
    .track, .cardBody {
        padding: 20px;
    }

    .mainInfo {
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }

    .headerWr {
        flex-direction: column;
        align-items: flex-start;
    }

    .header {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
